<%- include("partials/header"); -%>
<body>
  <section class="title">
    <div class="bgpurple shadow">
      <h1>myReads.</h1>
      <p><%- startingContent %></p>
    </div>

    <% posts.forEach(function(post){ %> <% console.log("POST DETAILS-->"); %> <%
    console.log(post); %>
    <div class="bgpink shadow">
      <h1><%=post.title%></h1>
      <!-- As entire conetnt is not visible so split length will vary so to ease out -->
      <% post.content=post.content.replaceAll('**', ' '); %>
      <p>
        <%- post.content.substring(0, 400) + " ..."%>
        <a href="/posts/<%=user%>/<%=post._id%>">Read More</a>
      </p>
    </div>
    <% }) %>
  </section>
  <%- include("partials/footer"); -%>
</body>
