<%- include("partials/header"); -%>

<div class="bgpurple box" id="heading">
  <h1><%= listTitle %></h1>
  <h4>Last Visited on <%= kindaday %></h4>
</div>

<!-- LIST ITEMS -->
<div class="itembox shadow">
  <% kindaitems.forEach(function(givenitem){ %>
  <form action="/deleteitem" method="post">
    <div class="item">
      <input
        type="checkbox"
        name="checkbox"
        value="<%= givenitem._id %>"
        onChange="this.form.submit()"
      />
      <p><%= givenitem.name %></p>
    </div>
    <input type="hidden" name="currlistName" value="<%= listTitle %>" />
  </form>
  <% }) %>

  <form class="item" action="/lists" method="post">
    <input
      type="text"
      name="item"
      placeholder="Add Book Name"
      autocomplete="off"
    />
    <button
      type="submit"
      name="btn_list"
      value="<%= listTitle %>"
      placeholder="submit"
    >
      +
    </button>
  </form>
</div>

<%- include("partials/footer"); -%>
