<%- include("partials/header"); -%>
<section class="title">

  
  
  <div class="bgpurple row shadow">
    <!-- <div class="row"> -->
    <div class="col-lg-10 align-self-bottom" style="margin-top:100px;">
      <h1 style="font-size: 4rem"><%=title%></h1>
    </div>
    <div class="col-lg-2">
      <img style="width: 200px" src="/img/book.png" />
    </div>
  </div>
  
  <!-- <table class="bgpurple" style="width: 100%">
    <tbody>
      <tr>
        <td class="align-text-bottom"><h1>JH POTTER</h1></td>
        <td><img style="width: 200px" src="/img/book.png" /></td>
      </tr>
    </tbody>
  </table> -->

  <div class="bgpink shadow content">
    <% content=content.replaceAll('- ', '<br />'+'• '); %>
     <% content=content.replaceAll('//', '<br />'); %>
    <% let k=content.split("**").length - 1%>
 <% for(let i=0; i<k;i++){ %>
 <%  if(!(i%2 === 0)){ %>
  <% content=content.replace('**','</b>'); %>
  <% }else{ %>
    <%  content=content.replace('**','<b>'); %>
   <% }%>
 <% } %>

    <p id="bookContent"><%- content %></p>
  </div>
<!-- DOM WON'T WORK ON SERVER SO USING HIDDEN ELEMENT FOR DATA -->
<div class="up">
<form action="/updateblog" method="post" style="display: inline-block;" >  
<input type="hidden" name="reqbooktitle" value="<%=title %>" placeholder="status" />
  <input type="hidden" name="reqbookcontent" value="<%-content %>" placeholder="status" />
 <button class="btn btn-warning shadow btn-post"  name="updbtn" value="<%= bookId %>">
      Update
    </button>
  </form> 

     <!-- ------------------------------------DELETE--------------------------------------- -->
  <form action="/deleteblog" method="post" style="display: inline-block;">
  <input type="hidden" name="flag" id="check" placeholder="status" />
   <button class="btn btn-warning shadow btn-post" onClick="sure()" name="blogbtn" value="<%= bookId %>">
      Delete
    </button>
   </form>
 
   <!-- ------------------------------------SHARE--------------------------------------- -->
  <form action="/share" method="post" style="display: inline-block;">
 <input type="hidden" name="posttitle" value="<%=title %>" placeholder="status" />
  <input type="hidden" name="postcontent" value="<%-content %>" placeholder="status" />
   <button class="btn btn-warning shadow btn-post" name="sharebtn" value="<%= bookId %>">
      Share
    </button>
   </form>
 </div>
</section>

<%- include("partials/footer"); -%>

<script>
  // let bgpink=document.querySelector(".bgpink");
  function sure(){
      let flag;
 if (confirm("Delete this book-blog? Press Cancel to terminate the step!")) { 
  flag = "1"; 
} else { 
  flag = "0"; 
}

document.querySelector("#check").value = flag;
}

// function edit(){
//   var content=document.querySelector("#bookContent");
// content.setAttribute("contenteditable", true);
// document.addEventListener("keypress",function(event){
// if(event.key=="enter")
//   console.log(content);
// });
// }
</script>